.login > div {
  color: #abff00;
  text-align: center;
  font-size: 40px;
  text-shadow: 2px -1px 3px #1f00ff;
}
.login form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #80c4ffd6;
}

.login body {
  background-color: yellow !important;
  background-image: none !important;
}

.login form button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login form button:hover,
.login form button:active {
  background-color: #555;
  color: white;
}

.login form p a {
  color: #333;
}

.login form p a:hover,
.login form p a:active {
  color: #555;
}
