{% extends 'base.html' %}
{% block static %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
    <div class="login">
        <div>Вхід</div>
        <form method="post" action="{% url 'login' %}" >
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Увійти</button>
            <p>Не маєте облікового запису? <a href="{% url 'signup' %}">Зареєструватися.</a></p>
        </form>
    </div>
    
{% endblock %}
