<!-- templates/base.html -->
{% load static %}
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400"
      rel="stylesheet"
    />
    <title>Django blog</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet" />
  </head>
  <body>
    <header>
    {% if user.is_authenticated %}
      <div><p>Вітаю {{ user.username }}!</p></div>
      <div>
        <h1><a href="{% url 'home' %}">Смачнісімо</a></h1>
      </div>
      <div><a href="{% url 'logout' %}">Вийти</a></li></div>
    {% else %}
        <div class="login_button"><a href="{% url 'login' %}">Увійти</a></div>
    {% endif %}
    </header>
    
    <div>
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>
